.contacts-page {
  .manage-button {
    width: 25%;
    margin: 0 10px;
  }
  .manage-container {
    display: flex;
  }
  .page-header {
    .create-contact-button {
      position: absolute;
      right: 0;
      top: -8px;
    }
  }
}
